@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans");
body {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;
}

#navbar {
  border: 1px solid black;
  height: 100vh;
  position: fixed;
  width: 20%;
}
#navbar header {
  border-bottom: 1px solid black;
  font-size: 2em;
  padding: 20px 0;
  text-align: center;
}
#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#navbar ul li {
  border-bottom: 1px dashed black;
  margin-left: 10%;
}
#navbar ul li .nav-link:hover {
  background-color: gray;
  opacity: 0.5;
}
#navbar ul li a {
  color: black;
  display: block;
  font-size: 1em;
  padding: 20px 0;
  text-decoration: none;
}

#main-doc {
  left: 20%;
  position: relative;
  width: 80%;
}
#main-doc .main-section {
  padding: 50px 30px;
}
#main-doc header {
  font-size: 2em;
}
#main-doc code {
  background-color: lightgray;
  display: block;
  width: 600px;
}

@media (max-width: 100px) {
  body {
    font-size: 0.7em;
  }
}
